.Calendar{
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.MonthView{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 70px repeat(5,1fr);
    grid-gap: 1px;
    color: #1100ff;
    width: 98%;
}

.DayOfMonth{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /*min-width: 140px;*/
    /*min-height: 80px;*/
    background-color: #b4ffe0;
    align-items: center;

}

.DayOfMonth .divDay{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.DayOfMonth .events{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: unset;
}
.DayOfMonth .events li{
    display: flex;
    justify-content: center;
    border: solid white 1px;
    color: black;


}

.ToDay{

}
.ToDay h1{
    color: #7fd300 !important;
    background-color: #1100ff;
}
.WeekendDay{
    background-color: #ffd3f3;
}

.WeekendDay h1{
    color:#E83B67;
}

.DayOfWeek{
    background-color: #d2c2e5;
}

.DayOfWeek h1{
    color: #3B58A2;
}

.OtherMonth{

}
.OtherMonth h1{
    color: gray;
}

.popup-content{
    background: aquamarine;
    display: flex;
}
.popup-content .hidden-events{ /*array popup*/
    display: inline-grid;
}