.Calendar{
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.MonthView{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 50px repeat(5,1fr);
    grid-gap: 1px;
    color: #1100ff;
}

.DayOfMonth{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /*min-width: 140px;*/
    /*min-height: 80px;*/
    background-color: #b4ffe0;
    align-items: center;

}

.DayOfMonth .events{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width:70%;


}
.DayOfMonth .events div{
    display: flex;
    justify-content: center;
    border: solid white 1px;
    //background-color: green;
    color: black;
    width:70%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ToDay{

}
.ToDay h1{
    color: #7fd300 !important;
    background-color: #1100ff;
}
.WeekendDay{
    background-color: #ffd3f3;
}

.WeekendDay h1{
    color:#E83B67;
}

.DayOfWeek{
    background-color: #d2c2e5;
}

.DayOfWeek h1{
    color: #3B58A2;
}

.OtherMonth{

}
.OtherMonth h1{
    color: gray;
}